<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <label class="layui-label">菜单名：</label>
                <div class="layui-inline">
                    <input type="text" class="layui-input searchName" placeholder="请输入搜索的内容" />
                </div>
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>

        </form>
    </blockquote>
    <table id="menuList" lay-filter="menuList"></table>
    <!--操作-->
    <script type="text/html" id="menuListBar">
        <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
</form>
@section Scripts{

    <script src="~/layui/layui.js"></script>
    <script src="~/js/Menu/MenuList.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
}