<form class="layui-form">
    <table id="operationalLogList" lay-filter="operationalLogList"></table>
    <!--操作-->
</form>
@section Scripts{

    <script src="~/layui/layui.js"></script>
    <script src="~/js/operationalLog/operationalLogList.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
}