
@{
    ViewData["Title"] = "管理中心";
}
@using Cms.NetCore.ViewModels.Results.Home
@model UserInfo
<blockquote class="layui-elem-quote layui-bg-green">
    <div id="nowTime"></div>
</blockquote>
<div class="layui-row layui-col-space10 panel_box">
    <div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
        <a href="javascript:;" data-url="https://github.com/zznzuoning/Cms.NetCore" target="_blank">
            <div class="panel_icon layui-bg-black">
                <i class="layui-anim seraph icon-github"></i>
            </div>
            <div class="panel_word">
                <span>Github</span>
                <cite>源码下载链接</cite>
            </div>
        </a>
    </div>
    <div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
        <a href="javascript:;">
            <div class="panel_icon layui-bg-blue">
                <i class="layui-anim seraph icon-clock"></i>
            </div>
            <div class="panel_word">
                <span class="loginTime">@Model.LastLoginTime</span>
                <cite>上次登录时间</cite>
            </div>
        </a>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-lg6 layui-col-md12">
        <blockquote class="layui-elem-quote title">系统基本参数</blockquote>
        <table class="layui-table magt0">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td>登录次数</td>
                    <td class="LoginCount">@Model.LoginCount</td>
                </tr>
                <tr>
                    <td>最后一次登录IP</td>
                    <td class="LoginLastIp">@Model.Ip</td>
                </tr>
                <tr>
                    <td>最后一次登录时间</td>
                    <td class="LoginLastTime">@Model.LastLoginTime</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
}
